{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block css %}
    {% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
</head>

<body>
<nav>
    <div class="nav-wrapper">
        <ul class="left">
            {% if user.is_superuser %}
            <li>
                <a href="/admin" class="tooltipped" data-tooltip="{% translate 'Admin Panel' %}" target="_blank"><i class="material-icons">settings</i></a>
            </li>
            {% endif %}
        </ul>
        <div class="brand-logo center">
            <img loading="eager" alt="Logo" style="max-width: 100vw; height: 60px"
                 src="{% static 'img/logo.png' %}">
        </div>
        <ul class="right">
            {% if user.is_authenticated %}
            <li>
                <a class='dropdown-trigger tooltipped btn' data-tooltip="{% translate 'Organizations'%}" href='#' data-target='dropdown-organization'><i class="material-icons right">domain</i>{{ user.current_organization.name }}</a>

                <!-- Dropdown Structure -->
                <ul id='dropdown-organization' class='dropdown-content'>
                    <li>
                        <button class="btn-large disabled" type="button" style="width: 100%">{{ user.current_organization.name }}</button>
                    </li>
                    {% for organization in user.organizations.all %}
                    {% if organization.id != user.current_organization.id %}
                    <li>
                        <form method="POST" action="/auth/user/organization/?next={{ request.path }}">
                            {% csrf_token %}
                            <input type="hidden" name="org_id" value="{{ organization.id }}">
                            <button class="btn-large" type="submit" style="width: 100%; background: white; color: var(--primary-color)">{{ organization.name }}</button>
                        </form>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                <form method="POST" action="/auth/logout/" style="display: none;">
                    {% csrf_token %}
                    <button id="logout-btn" type="submit"></button>
                </form>
                <a href="#" class="tooltipped" data-tooltip="{% translate 'Logout' %}" onclick="document.getElementById('logout-btn').click()"><i class="material-icons">logout</i></a>
                {% else %}
                <a href="/auth/login/" class="tooltipped" data-tooltip="{% translate 'Login' %}"><i class="material-icons">login</i></a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<main class="container">
    {% block content %}
    {% endblock %}
</main>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            &copy; {% now "Y" %} All rights reserved
        </div>
    </div>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script src="{% static 'js/materialize.min.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dropdowns = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(dropdowns, {});
    var tooltips = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(tooltips, {});
    var datePickers = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(datePickers, {});
    var selects = document.querySelectorAll('select');
    var instances = M.FormSelect.init(selects, {});
    var autocompletes = document.querySelectorAll('.autocomplete');
    var instances = M.Autocomplete.init(autocompletes, {});

    M.updateTextFields();
  });
</script>
{% block js %}
{% endblock %}
</body>

</html>
