{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/portal.css' %}">
{% endblock %}
{% block content %}
<br>
<div class="grid">
	{% for box in page.boxes.select_subclasses %}
	{% if box.link %}
	
		<a	href="{{box.link}}"
			class="portal-card portal-card-image-link w-{{box.width}} h-{{box.height}}"
			style="background: url('/media/{{box.image}}') no-repeat; background-size: cover; background-position: center center">
			<div class="portal-card-title" style="text-align: center;">{% translate box.name %}</div>
		</a>
	{% elif box.html %}
		<div
			class="portal-card portal-card-html w-{{box.width}} h-{{box.height}}">
			<h3>{% translate box.name %}</h3>
			<div>
			{{ box.html | safe }}
			</div>
		</div>
	{% else %}
		<div
			class="portal-card w-{{box.width}} h-{{box.height}}"
			style="background: url('/media/{{box.image}}') no-repeat; background-size: cover; background-position: center center">
			<div class="portal-card-title" style="text-align: center;">{% translate box.name %}</div>
		</div>

	{% endif %}
	{% endfor %}
	<div class="portal-card" style="opacity: 0;"></div>
</div>
{% endblock %}
